@model BookList.Models.BRViewModel
@{
    ViewBag.Title = "AddBooksRead";
}

<h2>@(Model.Readers.Name)</h2>


<div class="row">
    <div class="col-sm-6 col-xs-10">
        @using (Html.BeginForm("AddReadBooks", "BooksRead"))
    {
        @Html.HiddenFor(m => m.Readers.ReaderId)
        <div class="form-group">
            <label for="Books_BookId">Book Read</label>
            @Html.DropDownListFor(m => m.Books.BookId, ViewBag.BooksRead as IEnumerable<SelectListItem>, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary">@("Add")</button>
        @Html.ActionLink("Cancel", "ReadersBookList", new { Id = Model.Readers.ReaderId }, new { @class = "btn btn-default" })
       
}
    </div>
</div>
