@*@model BookList.Models.BooksRead*@
@{
    ViewBag.Title = "ReadersBookList";
}
<div class="row">
    <div class="col-sm-10">
        <h2>@(Model.BooksRead[0].Readers.Name), you've read @(Model.TotalBR) books!</h2>
    </div>
    <div class="col-sm-2">
        @Html.ActionLink("Add Book", "ReadBooksAdd", new { ReaderId = Model.ReaderId }, new { @class = "btn btn-primary addbutton greenbtn" })
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.BooksRead.Count; i++)
        {
            <tr class="col-md-6 col-sm-12">
                <td>
                    <div class="titles">
                        @(Model.BooksRead[i].Books.Title)
                    </div>

                    <div class="author">
                        By @(Model.BooksRead[i].Books.Author)
                    </div>

                        <a class="redlink" data-toggle="modal" href="@("#DeleteBookReadModal" + i)">Remove</a>
                        <div class="modal fade" id="@("DeleteBookReadModal" + i)" tabindex="-1" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content navbg">
                                    @using (Html.BeginForm("DeleteBookRead", "BooksRead"))
                {

                    <input type="hidden" value="@Model.BooksRead[i].BRId" name="BRId" />
                    <input type="hidden" value=" @Model.BooksRead[i].Readers.ReaderId" name="ReaderId" />
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Remove @Model.BooksRead[i].Books.Title</h4>
                    </div>
                    <div class="modal-body titles">
                        Are you sure you want to remove @Model.BooksRead[i].Books.Title from your list?
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary greenbtn">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
}
                                </div>
                            </div>
                        </div>
</td>
            </tr>
        }
    </tbody>
</table>






