
@{
    ViewBag.Title = "AllBooks";
}

<h2>@(Model.TotalBooks) Books In Library</h2>
<div>
    @Html.ActionLink("Add Book", "BooksAdd", null, new { @class = "btn btn-primary" })
</div>

<table class="table table-striped">
    <thead>
        <tr>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Books.Count; i++)
        {
          <tr class="col-md-6 col-sm-12">
            <td>
                <div class="aBook">
                    <div class="titles">
                        @(Model.Books[i].Title)
                    </div>
                    @("By " + Model.Books[i].Author)
                    <div>

                    </div>
                    @Html.ActionLink("Edit", "BooksEdit", new { id = Model.Books[i].BookId })
                    <a data-toggle="modal" href="@("#deleteBookModal" + i)">Delete</a>
                </div>
                        <div class="modal fade" id="@("deleteBookModal" + i)" tabindex="-1" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    @using (Html.BeginForm("DeleteBooks", "Books"))
                                     {
                                        <input type="hidden" value="@Model.Books[i].BookId" name="BookId" />
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Delete @Model.Books[i].Title</h4>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete @Model.Books[i].Title?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Yes</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        </div>
                                     }
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
         }
    </tbody>
</table>

<h3 class="menu-title">Font-Tester one</h3>
<h3>Font-Tester two</h3>